<div class="col filter-wrapper mb-2">
    <div class="row filter-url mb-2 row-cols-auto">
        <input
                type="text"
                placeholder="Поиск по URL"
                @keyup.debounce="byUrl($event)"
                x-bind:disabled="!$store.stats.summary.urls.total || $store.parse.run"
        >
    </div>
    <div class="row filters-code row-cols-auto">
        <template x-for="(item, index) in getCodeFilters()" :key="index">
            <button type="button"
                    class="col btn me-1"
                    x-bind:disabled="!$store.stats.summary.urls.total || $store.parse.run"
                    x-bind:title="item.alt"
                    :class="active_code === item.key ? 'btn-primary' : 'btn-outline-primary'"
                    x-on:click="byCode(item.key)">
                <span x-text="item.label"></span>
                <span x-text="item.count"></span>
            </button>
        </template>
    </div>
</div>
