<div class="reports-content">
    <template x-if="$store.single_stat.visible">
        {% include 'single-table.twig' %}
    </template>
    <template x-if="!$store.single_stat.visible">
        <ul class="list-unstyled">
            <li x-data="{open: true}">
                       <span class="pe-pointer">
                           <span x-on:click="open = !open;" class="total-report" :class="open ? 'is-open' : ''"></span>
                           <span x-on:click="resetFilters()">
                               Всего: <span x-text="$store.stats.summary.urls.total"></span>
                           </span>
                       </span>

                <ul x-show="open" x-transition>
                    <li x-on:click="byContentType('html')" class="pe-pointer">
                        HTML: <span x-text="$store.stats.totalUrls()"></span>
                    </li>
                    <li class="pe-pointer" x-on:click="byContentType('javascript')">
                        JS: <span x-text="$store.stats.summary.js || 0"></span>
                    </li>
                    <li class="pe-pointer" x-on:click="byContentType('css')">
                        CSS: <span x-text="$store.stats.summary.css || 0"></span>
                    </li>
                    <li class="pe-pointer" x-on:click="byContentType('image')">
                        IMAGES: <span x-text="$store.stats.summary.image || 0"></span>
                    </li>
                    <li class="pe-pointer">
                        Internal: <span x-text="$store.stats.summary.internal || 0"></span>
                    </li>
                    <li class="pe-pointer">
                        External: <span x-text="$store.stats.summary.external || 0"></span>
                    </li>
                </ul>
            </li>
            <li x-data="{open: true}">
                       <span class="pe-pointer">
                           <span x-on:click="open = !open" class="total-report" :class="open ? 'is-open' : ''"></span>
                           <span x-on:click="resetFilters()">По коду ответа</span>
                       </span>
                <ul x-show="open" x-transition>
                    <li x-on:click="byCode('2xx')">
                        2XX: <span x-text="$store.stats.responseCodeItems()['2xx'] || 0"></span>
                    </li>
                    <li x-on:click="byCode('3xx')">
                        3XX: <span x-text="$store.stats.responseCodeItems()['3xx'] || 0"></span>
                    </li>
                    <li class="text-danger" x-on:click="byCode('4xx')">
                        4XX: <span x-text="$store.stats.responseCodeItems()['4xx'] || 0"></span>
                    </li>
                    <li class="text-danger" x-on:click="byCode('5xx')">
                        5XX: <span x-text="$store.stats.responseCodeItems()['5xx'] || 0"></span>
                    </li>
                </ul>
            </li>
        </ul>
    </template>
</div>
