<div class="single_stat">
    <div class="table-single_stat">
        <div class="row_label">Property</div>
        <div class="row_value">Value</div>

        <div class="row_label">URL</div>
        <div class="row_value" x-text="$store.single_stat.get('url')"></div>

        <div class="row_label">SOURCE</div>
        <div class="row_value" x-text="$store.single_stat.get('source')"></div>

        <div class="row_label">Title</div>
        <div class="row_value" x-text="$store.single_stat.get('title')"></div>

        <div class="row_label">Description</div>
        <div class="row_value" x-text="$store.single_stat.get('meta.description')"></div>

        <div class="row_label">asds</div>
        <div class="row_value">Larry the Bird</div>
    </div>
</div>
