.parse-table-wrapper {
  overflow: auto;
  max-height: 50vh;
  /*font-size: .7rem;*/
  padding: 0;
}

.table-header-row .col,
.table-row {
  white-space: nowrap;
}

.col-content_type,
.col-content_type .cell-content {
  width: 200px;
}

.col-status_code,
.col-status_code .cell-content {
  width: 130px;
}

.col-url,
.col-canonical,
.col-canonical .cell-content,
.col-url .cell-content {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row-404 {
  color: red;
}

.pe-pointer {
  cursor: pointer;
}

.reports-content .total-report:before{
  display: inline-block;
  width: 16px;
  line-height: 2;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
}

.reports-content .total-report.is-open:before {
  transform: rotate(90deg);
}
