<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';">
    <title>SEO spider</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body class="pt-2">
    <div class="container-fluid" x-data="table">
      <div class="row row-cols-auto">
        <div class="col">
          <div class="mb-3" >
            <label for="url" class="form-label visually-hidden">Url</label>
            <input
              type="email"
              class="form-control"
              id="url"
              placeholder="Base URL"
              x-model="$store.parse.base_url"
            >
          </div>
        </div>
        <div class="col" x-data="parser">
          <button type="submit" class="btn btn-primary mb-3"  @click="parse">Start</button>
          <button type="submit" class="btn btn-primary mb-3" @click="stop">Stop</button>
        </div>
      </div>
      <div class="row container">
        <div class="col-8">
          <div class="row">
            {% include 'template/filter-parse-table.twig' %}
          </div>
          <div class="row">
            <div class="col parse-table-wrapper">
              {% include 'template/parse-table.twig' %}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              {% include 'template/report.twig' %}
            </div>
          </div>
        </div>
      </div>

    </div>

    <script defer src="./assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="./js/index.js"></script>
  </body>
</html>
